<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:theme="@style/Theme.SafeConnect">
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".RegisterActivity" android:exported="false"/>
        <activity android:name=".ForgotPasswordActivity" android:exported="false"/>
        <activity android:name=".HomeActivity" android:exported="false"/>
        <activity android:name=".SosActiveActivity" android:exported="false"/>
        <activity android:name=".ReportIncidentActivity" android:exported="false"/>
        <activity android:name=".TrackJourneyActivity" android:exported="false"/>
        <activity android:name=".EmergencyContactsActivity" android:exported="false"/>
        <activity android:name=".CommunityActivity" android:exported="false"/>
        <activity android:name=".AlertsActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <service android:name=".firebase.SafeConnectMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>